<div class="col-12 d-flex justify-content-center " [formGroup]="formMain">

    <div class="col-12 d-flex justify-content-center p-5">
        <div class="card w-50" style="padding-top: 50px;">
            <div class="card-body">

                <h5 class="card-title">Autenticação de dois fatores</h5>
                <div class="container col-12">
                    <div class="p-5">
                        <div class="container">
                            <div class="d-flex justify-content-center">
                                <h1>Verificação</h1>
                            </div>
                        </div>
                        <div class="pt-2"></div>
                        <div class="container col-8">
                            <div class=" d-flex justify-content-start">
                                <div class=" d-flex justify-content-start">
                                    <h5> <label for="">Código:</label></h5>
                                </div>
                            </div>
                            <input class="form-control align-self-center" type="text" formControlName="token" [ngClass]="{'is-invalid': validatorMessages.touchedErrors(formMain, 'token')}">

                            <div class="invalid-feedback">
                                <span>{{validatorMessages.required(formMain,'token', '')}}</span>
                            </div>
                        </div>
                        <div class="container col-4">
                            <div class=" d-flex justify-content-start">
                                <div class=" d-flex justify-content-start">
                                    <button class="btn btn-success" (click)="confirmTwoFactor()">Recuperar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>